<%- include('partials/header')  %>

<style>

body {
  background-image: url(images/homepage.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
}

#greeting {
  position: absolute;
  top: 50%;
  left: 25%;

}

h1 {
  font-size: 75px;
  color: black;
}
</style>

<div id="greeting">
<h1>Awesome Tweets</h1>
</div>


<%- include('partials/footer')  %>
